<div class="latest-posts">
    <div class="posts-header">
      <h2>Talk to Me?</h2>
    </div>
  </div>
<footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
      
    <div class="footer-content">
        <div class="social-links">
            <a class="a-data" href="https://instagram.com/meldodoka"> @meldodoka</a>
        
         
            <a class="a-data" href="https://www.linkedin.com/in/marselinus-meldo-doka-46ab88304?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">LinkedIn</a>
        </div>
        <div class="email-section">
           
            <a href="mailto:marselinusmeldo@gmail.com">marselinusmeldo@gmail.com </a>
        </div>
    </div>
</footer>
<br>
<br>
<div class="data-bawah">
  <small>©meldodoka</small>
</div>