<div class="latest-posts">
  <div class="posts-header">
    <h2>Writings</h2>
  </div>

  <div class="posts-list">
    <a
      href="https://meldo-doka.blogspot.com/2020/11/mapang.html"
      class="post-item"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="https://d29fhpw069ctt2.cloudfront.net/icon/image/84747/preview.svg"
        alt="Article icon"
        class="post-icon"
      />
      <span>Mengenal tradisi Mapang dari Suku Dayak Kantuk</span>
    </a>

    <a
      href="https://meldo-doka.blogspot.com/2024/04/apa-itu-keajaiban.html"
      class="post-item"
      target="_blank"
    >
      <img
        src="https://d29fhpw069ctt2.cloudfront.net/icon/image/84747/preview.svg"
        alt="Article icon"
        class="post-icon"
      />
      <span>Apa Itu Keajaiban?</span>
    </a>
  </div>
</div>

<div class="latest-posts">
  <div class="posts-header">
    <h2>Videos</h2>
  </div>

  <div class="project-container">
    <div class="project">
      <div class="embed-responsive embed-responsive-21by9">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/qOQ0weYymUg?si=dWxDSCSMRZ-IOxUs"
          allowfullscreen
        ></iframe>
      </div>
      <span>Ethics of Using Technology in the Digital World</span>
    </div>

    <div class="project">
      <div class="embed-responsive embed-responsive-21by9">
        <iframe
          class="embed-responsive-item"
          src="https://www.youtube.com/embed/d0oKMdBNyiY?si=E5CucT0AyJrTWQ9Z"
          allowfullscreen
        ></iframe>
      </div>
      <span>The Dark Side of Technology</span>
    </div>
  </div>
</div>
