<div class="nama_navbar" >

<header>
  <a style="color: aliceblue;" href="/">
    <div class="profile">
        <img style="box-shadow: 4px 6px 8px rgba(39, 38, 38, 0.179); margin-right:3px;" 
        src="https://65e895a51454bb14d276f890--rad-caramel-efe4a8.netlify.app/assets/meldo-Deiz24FQ.jpg" 
        alt="PDF icon" class="post-icon" />
        <span><b>Meldo</b></span>
    </div>
  </a>

  <nav class="nav-real">
    <a id="home-nav" href="https://github.com/mmeldodoka" target="_blank">
      <i class="fa-brands fa-github"></i> GitHub
    </a>
  </nav>
</header>
  
</div>
